<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>Digicel Services</h1>
    <h3>Service Update</h3>
    <p>Dear {{customer_name}}</p>
    <p>Your service <code class='inline-snip'>{{service_name}}</code> is now {{status}}</p>
    <p>If you feel this is an error please contact us as 123-imaginary-number</code></p>
    
    <style>
            .inline-snip{
                background:#E9E9E9;
                font-style: italic;
            }
    </style>
</body>

</html>