    
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <!-- <script src="main.js"></script> -->
</head>
<body>
    <h1>Digicel Services</h1>
    <h3>Account Validation</h3>

    <p>Dear {{agent_email}},</br>
        An account was created with this email, please click <a href='{{validate_link}}'>here</a>  to activate or <a href='{{invalidate_link}}'>here</a> if this was not you.
    <style>
            .inline-snip{
                background:#E9E9E9;
                font-style: italic;
            }
    </style>
</body>

</html>